body {
    font-family: 'Lora', serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.navigation {
    margin-bottom: 20px;
}

.merch-header {
    color: #7D8637;
}

.form-container, .result-container {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 1200px;
    margin: 20px auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}


input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #7D8637;
    background-color: transparent;
    border-radius: 4px;
}

input[type="checkbox"]:checked + label::before {
    background-color: #7D8637;
    border-color: #7D8637;
}

input[type="checkbox"]:focus + label::before {
    outline: 2px solid #7D8637;
}


input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

label {
    width: 120px;
    margin-right: 10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}


.submit-button {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #F51919;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #ff6666;
}

table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7D8637;
    color: white;
}

.product-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .product-image {
        width: 100%;
        height: auto;
    }
    .form-container, .result-container {
        padding: 15px;
        width: 90%;
    }
}

